/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// OWN CSS
// Colour Variables:
$brand-green:#248A83;
$brand-purple: #2f1339;
$brand-orange: #d99054;
$brand-yellow: #f0e4d1;
$brand-light-grey: #a1a1a1;
$brand-medium-grey: #808080;

*{
	box-sizing: border-box;
}


body{
	//THE BASE SPACING UNIT IS 1.5REM (?margin?)
	line-height: 1.75;
	font-size: 16px;
	color: #404040;
	font-family: 'Merriweather', sans-serif;
	background: #FFFFFF;
}

.solid-border{
	border: 1px solid #e1e1e1;
}

.dotted-border{
	border-top: 1px dashed #c8c8c8;
}

h1, h2{
	font-family: 'Novecentos', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.0rem;
}

p{
	text-align: left;
	font-size: 1.1rem;
}

ul{
	list-style-type: none;
}

.container{
	width: 1120px;
	margin: 0 auto;
}

.centered{
	text-align: center;
}

.text-left{
	text-align: left;
}

.dark-logo{
	display: none;
}

//Universal CSS for Header
.site-header{
	width: 100%;
	// background: skyblue;
	.header-container{
		margin: 0 auto;
		width: 1120px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 50px;
	}

	.site-branding img{
		height: 30px;
		width: auto;
	}

	.main-navigation{
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;

		a{
			text-transform: uppercase;
			font-family: 'Novecentos';
			font-size: 1.0rem;
			margin: 0 10px;
		
		}

		.nav-search-icon{
			display: inline;
			color: white;
			margin: 0 10px;
			font-size: 1.0rem;
	
		}


		.search-form{
			display: inline;

		}
		
		.search-field{
			text-transform: uppercase;
			background: transparent;
			border: none;
			color: white;
			width: 0;
			transition: width 1s;
			font-size: 1.0rem;
			&::placeholder{
				color: $brand-yellow;
			}
			&-focus{
				width: 200px;
			}
		}

		.dark-text{
			color: $brand-purple;
			&::placeholder{
				color: $brand-medium-grey;
			}
		}


		.search-submit{
			background: transparent;
			border: none;
			font-size: 1.1rem;
			padding: 0;
			box-shadow: none;
		}

	}
}

// Light and dark themed headers
.light-header{
	position: absolute;
	a{
		color: white;
		text-shadow: 1px 1px $brand-medium-grey;
		&:hover {
			color: $brand-yellow;
		}
	}
	.nav-search-icon{
		text-shadow: 1px 1px $brand-medium-grey;
	}
}

.dark-header{
	position: fixed;
	border-bottom: 1px solid #e1e1e1;
	background-color: rgba(255, 255, 255, 0.9);
	height: 50px;
	z-index: 9999;
	a{
		color: $brand-green;
	}

}


.header-offset{
	height: 50px;
}

// About Page - banner
.page-template-about{
	.site-content{
		width: 100%;
		display: block;
	}
	.container{
		width: 100%;
	}

	.entry-header{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.entry-title{
			color: white;
			font-size: 3.0rem;
		}
	}
		.entry-content{
			width: 900px;
			margin: 0 auto;
		}
}

//  FRONT-PAGE.PHP Page - banner
.home{
	.site-content{
		width: 100%;
		display: block;
		.container-header{
			font-size: 2.5rem;
			font-weight: 400;
			color: $brand-purple;
			margin: 55px 0;
			letter-spacing: 2px;
		}
	}

	.hero-banner{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/images/home-hero.jpg');
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		width: 100%;
	}

	.listed-posts{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1120px;
		margin: 0 auto;
		.ssbox{
			height: 275px;
			width: 100%;
			border-top: 5px solid  #e1e1e1;
			margin: 0 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			img{
				width: 70px;
				height: 70px;
				margin: 10px 0;
			}
			.shop-description{
				text-align: center;
				margin: 0 10px;
				font-size: 1.0rem;
			}

			.green-button{
				font-size: 0.9rem;
				padding: 12px 20px;
				margin: 10px 0px;
			}

			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 0px;
			}
			&:hover{
				border: 1px solid $brand-orange;
				border-top: 4px solid $brand-orange;
			}
		}

		.ijbox{
			// height: 420px;
			width: 100%;
			margin: 0 10px;
			.entry-header{
				height: 250px;
				width: auto;
				img{
					max-width: 100%;
					max-height: 100%;
					height: inherit;
					width: auto;
				}	
			}
			
			.entry-meta{
				border-top: 5px solid  #e1e1e1;
				height: 165px;	
				position: relative;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.post-data{
					font-size: 0.8rem;
					margin: 0;
				}
		
				a{
					text-decoration: none;
				}

				.entry-title a, h2{
					text-align: left;
					font-size: 1.2rem;
					color: $brand-green;
					margin: 0px;
					letter-spacing: 1px;
					line-height: 1.5;
					&:visited{
						color: $brand-green;
					}
				}

				.button-border{
					width: auto;
					font-size: 0.9rem;
					padding: 10px 20px;
				}
			}
			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 0px;
			}

		}
	}

	
	.more-adventures{

		margin: 25px 0;
		font-size: 1.2rem;
		padding: 7px 20px;
		display: inline-block;
	
	}
	.latest-adventure{
		display: grid;
		grid-template: 1fr 1fr / 2fr 1fr 1fr;
		// width: 1120px;
		// height: 560px;
	
		grid-column-gap: 10px;
		grid-row-gap: 10px;

		.entry-meta{
			position: absolute;
			top: 0;
			left: 0;
			margin: 50px 30px;
			.entry-title{
				text-align: left;
				font-family: 'Merriweather';
				font-size: 3.0rem;
				line-height: 1.25;
				font-weight: 400;
				text-transform: none;
				padding: 0;
				margin: 0;
				
				a{
					text-decoration: none;
					color: white;
					font-weight: 300;
					&:hover{
						color: $brand-yellow;
					}
				}
			}
		}
		.button-border{
				border: 1px solid white;
				color: white;
				font-size: 0.9rem;
				padding: 10px 20px;
				margin: 30px 0;
				&:hover{
					border: none;
				}
		}

		
		.grid-item{
		
			position: relative;
			overflow: hidden;
			// padding: 50px 30px;
			img{
				filter: brightness(70%);
				object-fit: cover;
			

			}
		}
		.adventure-item1{
			grid-area: 1 / 1 / 3 / 2;
			height: 550px;
			img{
				height: 550px;
			}
		}
		.adventure-item2{
			// grid-row-start: 1;
			// grid-row-end: 2;
			// grid-column-start: 2;
			// grid-column-end: 4;

			grid-area: 1 / 2 / 2/ 4;
			height: 267px;
			.entry-title{
				font-size: 2.2rem;
			}
			
			img{
				height: 267px;
			}
		}
		.adventure-item3{
			grid-area: 2 / 2 / 3 / 3;
			height: 267px;
			
			.entry-title{
				font-size: 1.5rem;
			}
			img{
				height: 267px;
			}
			.button-border{
				margin: 20px 0;
			}
		}
		.adventure-item4{
			grid-area: 2 / 3 / 3 / 4;
			height: 267px;
			.entry-title{
				font-size: 1.5rem;
			}
			
			img{
				height: 267px;
			}
			.button-border{
				margin: 20px 0;
			}
		}
	}

}
//END OF FRONT-PAGE.PHP

.latest-adventure-archive{
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 1120px;
	.entry-meta{
		position: absolute;
		top: 0;
		left: 0;
		.entry-title{
			text-align: left;
			font-family: 'Merriweather';
			a{
				text-decoration: none;
				color: white;
				font-weight: 300;
			}
		}
	}
	

	.button-border{
		border: 1px solid white;
		color: white;
		padding: 5px 10px;
		&:hover{
			border: none;
		}
	}
}




.green-button, input[type=submit]{ 
	background-color: $brand-green;
	color: white;
	padding: 5px 10px;
	font-family: 'Novecentos';
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.0rem;
	box-shadow: none;
	border-radius: none;
	&:visited{
		color: white;
	}
	&:hover{
		background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), $brand-green;
		color: white;
		box-shadow: none;
		border: none;
	}
}

.button-border{
	border: 1px solid black;
	color: black;
	text-transform: uppercase;
	font-family: 'Novecentos';
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
	&:visited{
		color: black;
	}
	&:hover{
		color: white;
		background-color: $brand-green;
		border: none;
	}
}

 .blog, .single-post, .archive{ 
	.site-content{
		width: 1120px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		.content-area{
			width: 70%;
			.site-main{
				width: 90%;
				// h1{
				// 	text-align: left;
				// }
			}
		}//site-content not closed yet

		.shop, .adventure {
			width: 100%;
			margin: 0 auto;
			.site-main{
				width: 100%;
			}
		}
		
				.entry-header{
					width: 100%;
					position: relative;
					.entry-title{
						position: absolute;
						background-color: $brand-green;
						top: 0;
						left: 0;
						width: 75%;
						text-align: left;
						color: white;
						a{
							text-decoration: none;
							color: white;
							&:hover{
								color: $brand-yellow;
							}
						}
					}
					img {
						width: 100%;
						height: 100%;
					}
					.entry-meta{
						background-color: $brand-green;
						color: white;
						font-family: 'Novecentos';
						text-transform: uppercase;
						width: auto;
						position: absolute;
						bottom: 0;
						right: 0;
						margin: 0;
						padding: 0;
						transform: translateY(-8px);
						a{
							color: white;
							text-decoration: none;
						}
					}
				} //entry header closed

				.grid-item{
					grid-area: auto;
					position: relative;
					overflow: hidden;
					height: 600px;
					.entry-header{
						img{
							filter: brightness(40%);
							object-fit: cover;
							height: 600px;
				
						}
					}
				
				}

				.entry-footer{
					span{
						text-transform: uppercase;
						font-family: 'Novecentos';
						a{
							text-transform: uppercase;
							color: $brand-green;
							text-decoration: none;
						}
						
					}
					.cat-links{
						margin-right: 10px;
					}
					
				} //closed entry footer
		

		.widget-area{
			border-left: 1px solid #e1e1e1;
			width: 30%;
			h1, h2{
				text-align: left;
				letter-spacing: 1.5;
				font-size: 1.5rem;
				letter-spacing: 2px;
			}

			p{
				font-size: 1.0rem;
				margin: 0;
				padding: 0;
				line-height: 1.75;
			}
			ul{
				color: black;
				margin: 0;
				padding: 0;
					a{
						color: $brand-green;
						text-decoration: none;
						&:hover{
							color: $brand-purple; //What is the hover color??
						}
					}
			}
		} //end of widget area
	}
}

.single-adventure{
	.site-content{
		width: 100%;
		display: block;
		.content-area{
			width: 100%;
			.site-main{
				width: 100%;
				.entry-header{
					height: 100vh;
					overflow: hidden;
					img{
						height: auto;
						width: 100%;
						margin: auto;
					}
				}
				.entry-meta, .entry-content, .entry-footer{
					width: 900px;
					margin: 0 auto;
				}
				.entry-meta{
					text-transform: uppercase;
					font-family: 'Novecentos';
				}
				.entry-footer{
					width: 900px;
					margin: 0 auto;
				}
			}
			
		// 	margin: 0 auto;

		}
	}
}


.taxonomy-description{
	text-align: center;
}

.search{
	h2, a{
		text-decoration: none;
		color: $brand-green;

	}
	.entry-meta{
		font-family: 'Novecentos';
		text-transform: uppercase;
	}
}

.comment-body{
	display: flex;
	flex-direction: row;
	border-top: 1px solid #e1e1e1;

	.comment-author-avatar img{
		border-radius: 50px;
	}
	.fn{
		font-style: normal;
		font-weight: 600;
	}
	.comment-reply-link{
		text-decoration: none;
		color: $brand-green;
	}
}

.comments-area h3{
	font-family: 'Novecentos';
	text-transform: uppercase;
	border-top: 1px solid #e1e1e1;
	font-size: 1.2rem;
}
	

//SHOP ARCHIVE STUFF

.center-menu{
	display: flex;
	justify-content: center;
	.shop-menu{
		margin: 0 auto;
		padding: 0;
		width: auto;
		display: block;

		li{
			width: auto;
			display: inline-block;
			text-align: center;
		}
		
		a{
			text-decoration: none;
			color: $brand-green;
			text-transform: uppercase;
			font-family: 'Novecentos';
			margin: 0 30px;
			font-size: 1.5rem;

		}
	}
}

.product-grid{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	
	width: 1120px;
	height: auto;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	margin: 0 auto;

	&.product-grid-archive{
		grid-template-rows: auto;
	}

	

	article{
		// border: 2px solid skyblue;
	}

	.entry-header{
		width: auto;
		height: 200px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.entry-content{
		border-top: 4px solid #e1e1e1;
		margin: 0px;

		display: flex;
		flex-direction: row;
		justify-content:space-between;
		p{
			// display: inline-block;
		}
		.dots{
			border-bottom: 1px dotted black;
			flex: 1;
			transform: translatey(-7px);
			
		}
		a{
			text-decoration: none;
			color: black;
		}
	}
}
//END OF SHOPS STUFF


//START SINGLE-ARTICLE.PHP 
.single-product,{
	.site-content{
		width: 1120px;
		margin: 0 auto;
		article{
			display: flex;
			flex-direction: row;
			.entry-header{
				width: 50%;
				img{
					// width: inherit;
					max-width: 100%;
					max-height: 100%;
				}
			}
			.entry-content{
				width: 50%;
			}
			.entry-title{
				color: #d99054;
				text-align: left;
			}
			.price{
				font-family: 'Novecentos';
			}
		}
	}
}


//404 STARTS HERE
.error404 {
	.site-content{
		width: 1120px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		.content-area{
			width: 70%;
			.site-main{
				width: 90%;
				h1, h2{
					text-align: left;
				}
				ul{
					margin: 0;
					padding: 0;
				}
				a{
					text-decoration: none;
					color: $brand-green;
					&:hover{
						color: $brand-purple;
					}
				}
			}
		}
			.widget-area{
				border-left: 1px solid #e1e1e1;
				width: 30%;
				h1{
					text-align: left;
					letter-spacing: 1.5;
					font-size: 1.5rem;
				}
				ul{
					color: black;
					margin: 0;
					padding: 0;
						a{
							color: $brand-green;
							text-decoration: none;
							&:hover{
								color: $brand-purple; //What is the hover color??
							}
						}	
				}
			}
	}
}

.site-content{
	width: 1120px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.layout-with-sidebar{
	width: 70%;
	.site-main{
		width: 90%;
		h1, h2{
			text-align: left;
		}
	}
		
}


.widget-area{
	border-left: 1px solid #e1e1e1;
	width: 30%;
	h1{
		text-align: left;
		letter-spacing: 1.5;
		font-size: 1.5rem;
	}
	ul{
		color: black;
		margin: 0;
		padding: 0;
			a{
				color: $brand-green;
				text-decoration: none;
				&:hover{
					color: $brand-purple; //What is the hover color??
				}
			}	
	}
}
		

.site-footer{
	background-image: url('../../assets/images/dark-wood.png');
	background-size: contain;
	background-repeat: repeat;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 35px;
	padding-top: 50px;

	.footer-above-copyright{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1120px;
		margin: 0 auto;
		letter-spacing: 1px;
		.contact-and-business{
			display: flex;
			flex-direction: row;
			width: 50%;
			justify-content: space-between;
			h1{
				font-size: 1.2rem;
				color: $brand-orange;
				text-align: left;
				margin: 10px 0;
			}
			ul{
				margin: 0;
				padding: 0;
			
				font-size: 1.0rem;
				li{
					color: white;
					line-height: 2.5;
					margin: 0;
			
				}
				a{
					color: white;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					
				}
				i{
					font-size: 1.15rem;
				}
			}
			
		}

		img{
			width: 300px;
			transform: translateY(-30px);
		}
		
	}

	.copyright{
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-family: 'Novecentos', sans-serif;
	}

// 	margin-top: 50px;
}

.fa-phone{
	transform: rotate(90deg);
}
// // .email-icon:before{
// // 	font-family: FontAwesome;
// // 	content: "\f0e0";
// // }

// // .phone-icon:before{
// // 	font-family: FontAwesome;
// // 	content: "\f095";
// // }

// // .social-media-icons:before{
// // 	content: "\f0d8";
// // 	font-family: FontAwesome;
// // }
