/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// OWN CSS

*{
	box-sizing: border-box;
}

.site-header{

	width: 100%;
	position: absolute;

	.header-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		margin: 10px auto;
	}

	.site-branding img{
		height: 40px;
		width: auto;
	}

	.main-navigation{
		width: auto;
		.menu ul{
			

			a{
				margin: 20px;
				color: white;
				text-transform: uppercase;

				&:hover{
					color:#f0e4d1;
				}
			}
		}

	}
}

.hero-banner{
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/images/home-hero.jpg');
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-holder{
	width: 100%;

	.container{
		width: 90%;
		margin: 0 auto;

		.container-header{
			text-align: center;
			text-transform: uppercase;
			margin: 50px 0px;
			font-size: 2.5rem;
			font-weight: 400;
		}

		.listed-posts{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.ssbox{
				height: 300px;
				width: 100%;
				border: 1px solid #a1a1a1;
				border-top: 4px solid  #a1a1a1;
				margin: 0 10px;
				&:first-child{
					margin-left: 0px;
				}
				&:last-child{
					margin-right: 0px;
				}
				&:hover{
					border: 1px solid #d99054;
					border-top: 4px solid #d99054;
				}
			}
			.ijbox{
				height: 350px;
				width: 100%;
				border: 1px solid #a1a1a1;
				border-top: 4px solid  #a1a1a1;
				margin: 0 10px;
				&:first-child{
					margin-left: 0px;
				}
				&:last-child{
					margin-right: 0px;
				}
			}
			.la-bigbox{
				height: 50vw;
				width: 50%;
				border: 1px solid #a1a1a1;
			}

			.la-rightside{
				height: 50vw;
				width: 50%;
				display: flex;
				flex-wrap: wrap;

					.la-longbox{
						border: 1px solid #a1a1a1;
						height: 25vw;
						width: 100%;
						flex-grow: 2;
					}

					.la-smallbox {
						border: 1px solid #a1a1a1;
						height: 25vw;
						width: 50%;
						flex-grow: 1;
					}
			}
		}
	}
}

// .email-icon:before{
// 	font-family: FontAwesome;
// 	content: "\f0e0";
// }

// .phone-icon:before{
// 	font-family: FontAwesome;
// 	content: "\f095";
// }

// .social-media-icons:before{
// 	content: "\f0d8";
// 	font-family: FontAwesome;
// }



// .footer-above-copyright{
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// }

// .contact-and-business{
// 	display: flex;
// 	flex-direction: row;
// }

// .contact-info li{
// 	text-decoration: none;
// }

.copyright{
	text-align: center;
}