/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// OWN CSS

*{
	box-sizing: border-box;
}

// html{
// 	width: 1120px;
// }

body{
	line-height: 1.5;
	font-size: 16px;
	color: #404040;
	font-family: 'Merriweather', sans-serif;
}

h1{
	font-family: 'Novecentos', sans-serif;
}

.header-offset{
	height: 50px;
}

.site-header{

	width: 100%;

	.home &{
		position: absolute;
	}

	.blog &{
		position: fixed;
	}
	

	.header-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
		margin: 10px auto;
	}

	.site-branding img{
		height: 40px;
		width: auto;
	}

	.light-text{
		width: auto;

			a{
				margin: 20px;
				color: white;
				text-transform: uppercase;
				font-family: 'Novecentos', sans-serif;
				

				&:hover{
					color:#f0e4d1;
				}
			}
		}

	}


.hero-banner{
	background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/images/home-hero.jpg');
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-holder{
	width: 100%;

	.container{
		max-width: 90%;
		width: 1120px;
		margin: 0 auto;

		.container-header{
			text-align: center;
			text-transform: uppercase;
			margin: 50px 0px;
			font-size: 2.5rem;
			font-weight: 400;
		}

		.listed-posts{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			// overflow: hidden;
			.ssbox{
				height: 300px;
				width: 100%;
				border: 1px solid #a1a1a1;
				border-top: 4px solid  #a1a1a1;
				margin: 0 10px;
				&:first-child{
					margin-left: 0px;
				}
				&:last-child{
					margin-right: 0px;
				}
				&:hover{
					border: 1px solid #d99054;
					border-top: 4px solid #d99054;
				}
			}
			.ijbox{
				height: 350px;
				width: 100%;
				border: 1px solid #a1a1a1;
				border-top: 4px solid  #a1a1a1;
				margin: 0 10px;
				&:first-child{
					margin-left: 0px;
				}
				&:last-child{
					margin-right: 0px;
				}
			}
			.la-bigbox{
				height: 50vw;
				width: 50%;
				margin-right: 10px;
				background-color: #a1a1a1;
			}

			.la-rightside{
				height: 50vw;
				width: 50%;
				display: flex;
				flex-wrap: wrap;
				margin-left: 10px;

					.la-longbox{
						background-color: #a1a1a1;
						height: calc(50% - 10px);
						width: 100%;
						flex-grow: 2;
						margin-bottom: 10px ;
					}

					.la-smallbox {
						background-color: #a1a1a1;
						height: calc(50% - 10px);
						width: calc(50% - 20px);
						flex-grow: 1;
						margin-top: 10px;
						&:nth-child(2){
							margin-right: 10px;
						}
						&:last-child{
							margin-left: 10px;
						}
					}
			}
		}
	}
}

// .site-content{
// 	.blog &{
// 		margin-top: 70px;
// 	}
// }

footer{
	background-image: url('../../assets/images/dark-wood.png');
	background-size: contain;
	background-repeat: repeat;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 50px;
}

.footer-above-copyright{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	img{
		width: 300px;
		transform: translateY(-30px);
	}

	.contact-and-business{
		display: flex;
		flex-direction: row;
		text-decoration: none;
		width: 50%;
		justify-content: space-between;

		
		h1{
			text-transform: uppercase;
			font-size: 1.5rem;
			color: #d99054;
		}

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			color: white;
			line-height: 2.0;
			font-size: 1.1rem;
		}

		

	}
	
}
// .email-icon:before{
// 	font-family: FontAwesome;
// 	content: "\f0e0";
// }

// .phone-icon:before{
// 	font-family: FontAwesome;
// 	content: "\f095";
// }

// .social-media-icons:before{
// 	content: "\f0d8";
// 	font-family: FontAwesome;
// }

.content-area{
	.blog &{
		width: 100%;
	}
}

.site-content{
	.blog &{
		display: flex;
		flex-direction: row;
		width: 1120px;
		max-width: 90%;
		margin: 0 auto;
		.content-area{
			width: 70%
		}
		.widget-area{
			width: 30%;
			border-left: 1px solid #e1e1e1;
		}
	}
}
	







.copyright{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Novecentos', sans-serif;
}