/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// OWN CSS
// Colour Variables:
$brand-green:#248A83;
$brand-purple: #2f1339;
$brand-orange: #d99054;
$brand-yellow: #f0e4d1;
$brand-light-grey: #a1a1a1;
$brand-medium-grey: #808080;

*{
	box-sizing: border-box;
}


body{
	//THE BASE SPACING UNIT IS 1.5REM (?margin?)
	line-height: 1.75;
	font-size: 16px;
	color: #404040;
	font-family: 'Merriweather', sans-serif;
	background: #FFFFFF;
	// max-width: 1120px;
	// margin: 0 auto;
}

.solid-border{
	border: 1px solid #e1e1e1;
}

.dotted-border{
	border: 1px dashed #c8c8c8;
}

h1, h2{
	font-family: 'Novecentos', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.0rem;
}

p{
	text-align: left;
	font-size: 1.1rem;
}

//Universal CSS for Header
.site-header{
	width: 100%;
	// background: skyblue;
	.header-container{
		margin: 0 auto;
		width: 1120px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.site-branding img{
		height: 40px;
		width: auto;
	}

	.main-navigation{
		width: auto;

		a{
			text-transform: uppercase;
			font-family: 'Novecentos';
			font-size: 1.5rem;
			margin: 0 20px;
		}

	}
}

// Light and dark themed headers
.light-header{
	position: absolute;
	a{
		color: white;
		&:hover {
			color: $brand-yellow;
		}
	}
}

.dark-header{
	position: fixed;
	border-bottom: 1px solid #e1e1e1;
	background-color: white;
	height: 50px;
	z-index: 9999;
	a{
		color: $brand-green;
	}
}


.header-offset{
	height: 50px;
}

// About Page - banner
.about{
	.entry-header{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.entry-title{
			color: white;
			font-size: 3.0rem;
		}
		.entry-content{
			width: 900px;
			margin: 0 auto;
		}
	}
}

//  FRONT-PAGE.PHP Page - banner
.home{
	.hero-banner{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/images/home-hero.jpg');
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		width: 100%;
	}

	.listed-posts{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1120px;
		margin: 0 auto;
		.ssbox{
			height: 300px;
			width: 100%;
			border-top: 4px solid  #e1e1e1;
			margin: 0 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img{
				width: 80px;
				height: 80px;
			}
			p{
				text-align: center;
				margin: 1.0rem;
			}
			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 0px;
			}
			&:hover{
				border: 1px solid $brand-orange;
				border-top: 4px solid $brand-orange;
			}
		}

		.ijbox{
			height: 475px;
			width: 100%;
			margin: 0 10px;
			.entry-header{
				height: 275px;
				width: auto;
				img{
					max-width: 100%;
					max-height: 100%;
					height: inherit;
					width: auto;
				}	
			}
			
			.entry-meta{
				border-top: 4px solid  #e1e1e1;
				height: 190px;	
				position: relative;
		
				a{
					text-decoration: none;
				}

				.entry-title a, h2{
					text-align: left;
					font-size: 1.2rem;
					color: $brand-green;
					&:visited{
						color: $brand-green;
					}
				}

				.button-border{
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 0px;
			}

		}
	}

	.latest-adventure{
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		width: 1120px;
		height: 560px;
		background-color: #e1e1e1;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		.button-border{
				border: 1px solid white;
				color: white;
				padding: 5px 10px;
		}
		div{
			border: 2px dotted skyblue;
		}
		.la-bigbox{
			grid-column: 1 / 3;
			grid-row: 1 / 3;
		}
		.la-longbox{
			grid-column: 3 / 5;
			grid-row: 1 / 2;
			// background-color: yellow;
		}
		.la-smallboxA{
			grid-column: 3 / 4;
			grid-row: 2 / 3;
			// background-color: orange;
		}
		.la-smallboxB{
			grid-column: 4 / 5;
			grid-row: 2 / 3;
			// background-color: green;
		}
	}

}
//END OF FRONT-PAGE.PHP




.green-button{ 
	background-color: $brand-green;
	color: white;
	padding: 5px 10px;
	font-family: 'Novecentos';
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.0rem;
	&:visited{
		color: white;
	}
	&:hover{
		background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), $brand-green;
		color: white;
	}
}

.button-border{
	border: 1px solid black;
	color: black;
	text-transform: uppercase;
	font-family: 'Novecentos';
	padding: 5px 10px;
	text-decoration: none;
	&:visited{
		color: black;
	}
	&:hover{
		color: white;
		background-color: $brand-green;
		border: none;
	}
}


.blog{
	.site-content{
		width: 1120px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		.content-area{
			width: 70%;
			.site-main{
				width: 90%;
				.entry-header{
					width: 100%;
					position: relative;
					.entry-title{
						position: absolute;
						background-color: $brand-green;
						top: 0;
						left: 0;
						width: 75%;
						a{
							text-decoration: none;
							color: white;
							&:hover{
								color: $brand-yellow;
							}
						}
					}
					img {
						width: 100%;
						height: 100%;
					}
					.entry-meta{
						background-color: $brand-green;
						color: white;
						font-family: 'Novecentos';
						text-transform: uppercase;
						width: auto;
						position: absolute;
						bottom: 0;
						right: 0;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
		.widget-area{
			border-left: 1px solid #e1e1e1;
			width: 30%;
			h1{
				text-align: left;
				letter-spacing: 1.5;
				font-size: 1.5rem;
			}
			ul{
				list-style-type: none;
				color: black;
				margin: 0;
				padding: 0;
					a{
						color: $brand-green;
						text-decoration: none;
						&:hover{
							color: $brand-purple; //What is the hover color??
					}
				
				}
			}

		}
	}
}



	// 			font-family: 'Novecentos';
	// 			font-size: 2.0rem;
	// 			background-color: #248A83;
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			width: 75%;
				
	// 			
					
					
					
	// 				&:hover{
	// 					color:#f0e4d1;
	// 				}
	// 			}
	// 		}

	// 	}
	// }


// 	.entry-title{
// 		margin: 0;
// 	}
// }

// .container-holder{
// 	width: 100%;

// 	.container{
// 		max-width: 90%;
// 		width: 1120px;
// 		margin: 0 auto;

// 		.container-header{
// 			text-align: center;
// 			text-transform: uppercase;
// 			margin: 50px 0px;
// 			font-size: 2.5rem;
// 			font-weight: 400;
// 		}

// 		
// 			


// 	

// .site-main article{
// 	.single-product &{
// 		m
// 		width: 90%;
// 		display: flex;
// 		flex-direction: row;
// 		.entry-header{
// 			width: 50%;
// 			img{
// 				// width: inherit;
// 				max-width: 100%;
// 				max-height: 100%;
// 			}
// 		}
// 		.entry-content{
// 			width: 50%;
// 		}
// 		.entry-title{
// 			color: #d99054;
// 		}
// 	}
// }

.site-footer{
	background-image: url('../../assets/images/dark-wood.png');
	background-size: contain;
	background-repeat: repeat;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.footer-above-copyright{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1120px;
		margin: 0 auto;
		.contact-and-business{
			display: flex;
			flex-direction: row;
			width: 50%;
			justify-content: space-between;
			h1{
				font-size: 1.2rem;
				color: $brand-orange;
				text-align: left;
			}
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				line-height: 2.0;
				font-size: 1.1rem;
				li{
					color: white;
				}
				a{
					color: white;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			
		}

		img{
			width: 300px;
			transform: translateY(-30px);
		}
		
	}

	.copyright{
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-family: 'Novecentos', sans-serif;
	}

// 	margin-top: 50px;
}


// // .email-icon:before{
// // 	font-family: FontAwesome;
// // 	content: "\f0e0";
// // }

// // .phone-icon:before{
// // 	font-family: FontAwesome;
// // 	content: "\f095";
// // }

// // .social-media-icons:before{
// // 	content: "\f0d8";
// // 	font-family: FontAwesome;
// // }

// .content-area{
// 	.blog &, .archive &, .page &{
// 		width: 100%;
// 	}
// }

// .site-content{
// 	.archive &, {//.page &
// 		display: flex;
// 		flex-direction: column;
// 		width: 1120px;
// 		max-width: 90%;
// 		margin: 0 auto;
// 	}
// 	.blog &{
// 		display: flex;
// 		flex-direction: row;
// 		width: 1120px;
// 		max-width: 90%;
// 		margin: 0 auto;
// 		.content-area{
// 			width: 70%
// 		}
// 		.widget-area{
// 			width: 30%;
// 			border-left: 1px solid #e1e1e1;
// 		}
// 	}
// }



// .archive{
// 	.page-header{
// 		text-align: center;
// 	}

// 	.entry-content{
// 		display: inline;
// 	}
// 	h2{
// 		text-align: left;
// 	}
// 	p{
// 		text-align: right;
// 	}
// }

// // }
	









// //ARCHIVE CSS
// .archive h1{
// 	text-transform: uppercase;
// }

// .product-grid{
// 	display: grid;
// 	grid-template-rows: repeat(4, 1fr);
// 	grid-template-columns: repeat(4, 1fr);
	
// 	width: 100%;
// 	height: auto;
// 	grid-row-gap: 10px;
// 	grid-column-gap: 10px;
// 	article{
// 		border: 3px solid coral;
// 		.entry-header{
// 			height: width;
// 		}
// 	}
// 	.product-archive-image img{
// 		width: 25%;
// 		height: 25vw;
// 	}
// }

// .button-border{
// 	border: 1px solid black;
// 	color: black;
// 	text-transform: uppercase;
// 	font-family: 'Novecentos';
// 	padding: 5px 10px;
// 	text-align: left;
// 		color: #248A83;
// 		text-decoration: none;
// 	&:hover{
// 		color: white;
// 		background-color: #248A83;
// 		border: none;
// 	}
// }


